<div class="container container--page container--shrink">
  <h1 class="text-color">Licznik (przykład)</h1>

  <app-counter-feature
    [value]="5"
    [step]="5"
    (valueChange)="onValueChange($event)"
    (incrementClick)="onIncrementClick()"
    (decrementClick)="onDecrementClick()">
  </app-counter-feature>
  <app-counter-feature [value]="0"></app-counter-feature>
  <app-counter-feature [value]="10"></app-counter-feature>
  <app-counter-feature [value]="100" [step]="25"></app-counter-feature>
</div>
